{% extends "layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="/" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/">Job Creators</a></li>
			<li><a href="/accept">Accept Delivery</a></li>
		</ol>
    </div>
</div>
<div class="well">
<div class="row">
	<div class="col-xs-12">
<h4>Accept Delivery</h4>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p  class="txt-danger"><b>{{ message }}</b></p>
    {% endfor %}
  {% endif %}
{% endwith %}

<p>Block time (12 blocks ago): {{ block_time }} UTC
{% if time_offset > 3600*4 %}
<span class="txt-danger">Off by more than 4 hours!</span>
{% endif %}
</p>

<form class="form-horizontal" role="form" method="POST" onsubmit="return confirm('This will be sync\'d immediately to available servers. Please confirm.');" action="{{ url_for('job_accept') }}">
    {{ form.csrf_token }}

<table class="table">
<thead>
    <tr>
        <th>Deliverables</th>
    </tr>
</thead>
<tbody>
{% for subfield in form.deliverable_id %}

    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.signed_primary_payment.label }}</label>
        <div class="col-sm-7">{{ form.signed_primary_payment(rows=6, cols=80, class="form-control", data_toggle="tooltip", title="Use the primary redeem script and sign a payment including the full amount to the worker's address.") }}</div>
        {{ render_error(form.signed_primary_payment) }}
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.signed_mediator_payment.label }}</label>
        <div class="col-sm-7">{{ form.signed_mediator_payment(rows=6, cols=60, class="form-control", title="Use the mediator redeem script and sign a payment including the full amount sending to the mediator's address.") }}</div>
        {{ render_error(form.signed_mediator_payment) }}
    </div>
    
<input type="submit" value="Post!">
</form>
    </div>
</div>
</div>
{% endblock %}
