{% extends "layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="/" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/">Workers</a></li>
			<li><a href="/deliver">Deliver</a></li>
		</ol>
    </div>
</div>
<div class="well">
<div class="row">
	<div class="col-xs-12">
<h4>Deliver</h4>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p  class="txt-danger"><b>{{ message }}</b></p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if no_choices %}
<h5>No in-process jobs found.</h5>
<p>Before you can deliver, you will need to <a href="/bid">bid</a> and be offered a job.</p>
{% else %}
<p>Block time (12 blocks ago): {{ block_time }} UTC
{% if time_offset > 3600*4 %}
<span class="txt-danger">Off by more than 4 hours!</span>
{% endif %}
</p>

<form class="form-horizontal" role="form" method="POST" onsubmit="return confirm('This will be sync\'d immediately to available servers. Please confirm.');" action="{{ url_for('job_deliver') }}">
    {{ form.csrf_token }}

<table class="table">
<thead>
    <tr>
        <th></th>
        <th>Job name</th>
        <th>Delivery</th>
    </tr>
</thead>
<tbody>
{% for subfield in form.job_id %}

    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{ form.deliverable.label }}</label>
        <div class="col-sm-7">{{ form.deliverable(rows=6, cols=80, class="form-control", data_toggle="tooltip", title="Provide links to files or evidence of sending deliverables to the client.") }}</div>
        {{ render_error(form.deliverable) }}
    </div>
    
<input type="submit" value="Deliver!">
</form>
{% endif %}
    </div>
</div>
</div>
{% endblock %}
