{% extends "minimal-layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}
<br />
<div class="well">
    <h3>Congratulations! Setup complete.</h3>
        
<div class="row">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p  class="txt-danger"><b>{{ message }}</b></p>
    {% endfor %}
  {% endif %}
{% endwith %}
	<div class="col-xs-12 col-sm-9">
        <h4>Server shutting down. Please complete your setup with 'rein buy'.</h4>
        <p>Look for servers on the sidebar at https://reddit.com/r/Rein or add one of the following:

            <pre>rein1-sfo.reinproject.org:2016<br />
            rein2-ams.reinproject.org:2016</pre>
        </h4>
    </div>
</div>
</div>
{% endblock %}
