{% extends "layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">General</a></li>
			<li><a href="job.html">Job Detail</a></li>
		</ol>
    </div>
</div>
<div class="well">
<div class="row">
	<div class="col-xs-12">
<h4>Job Detail</h4>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p  class="txt-danger"><b>{{ message }}</b></p>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if found %}

<p>Name: {{ job['Job name'] }} <br />
Description: {{ job['Description'] }}<br />
ID: {{ job['Job ID'] }} <br />
</p>
<!--
<p>: {{ job[''] }} </p>
-->


<h5>Participants</h5>
<p>Job creator: <b>{{ job['Job creator'] }}</b> / <a href="mailto:{{ job['Job creator contact'] }}">{{ job['Job creator contact'] }}</a> / {{ job['Job creator master address'] }}<br />
Mediator: <b>{{ job['Mediator'] }}</b> / <a href="mailto:{{ job['Mediator contact'] }}">{{ job['Mediator contact'] }}</a> / {{ job['Mediator master address'] }}<br />
{% if 'Worker' in job  %}
Worker: <b>{{ job['Worker'] }}</b> / <a href="mailto:{{ job['Worker contact'] }}">{{ job['Worker contact'] }}</a> / {{ job['Worker master address'] }}</p>

<h5>Payments</h5>
<p>Primary escrow: <b>{{ job['Primary escrow address'] }}</b> should be funded with <b>{{ job['Bid amount (BTC)'] }} BTC</b>.<br />
Mediator escrow: <b>{{ job['Mediator escrow address'] }}</b> should be funded with <b>{{ job['Mediator fee'] }}%</b> of the above.<br />

{% endif %}<br />
<br />
<h5>Misc</h5>
Random original document:<br />
<textarea rows="5" cols="80">{{ job['original'] }}</textarea>
</p>
{% else %}

<p>Nope.</p>



{% endif %}



    </div>
</div>
</div>
{% endblock %}
