{% extends "layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="/" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/">Job Creators</a></li>
			<li><a href="/post">Post</a></li>
		</ol>
    </div>
</div>
<div class="well">
<div class="row">
	<div class="col-xs-12 col-sm-9">
<h4>Post New Job</h4>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p  class="txt-danger"><b>{{ message }}</b></p>
    {% endfor %}
  {% endif %}
{% endwith %}

<p>Block time (12 blocks ago): {{ block_time }} UTC
{% if time_offset > 3600 * 4  %}
<span class="txt-danger">Off by more than 4 hours!</span>
{% endif %}
</p>

<form class="form-horizontal" role="form" method="POST" onsubmit="return confirm('This will be sync\'d immediately to available servers. Please confirm.');" action="{{ url_for('job_post') }}">
    {{ form.csrf_token }}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ form.job_name.label }}</label>
        <div class="col-sm-6">{{ form.job_name(rows=1, cols=40, class="form-control", data_toggle="tooltip", title="Give this job a unique and descriptive name. Workers will use this to decide whether to learn more about your job!") }}</div>
        {{ render_error(form.job_name) }}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ form.description.label }}</label>
        <div class="col-sm-8">{{ form.description(rows=5, cols=80, class="form-control", title="Enter a description of what you need done.") }}</div>
        {{ render_error(form.description) }}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ form.tags.label }}</label>
        <div class="col-sm-6">{{ form.tags(rows=1, cols=40, class="form-control", title="Enter a comma-separated list of terms relevant to your job.") }}</div>
        {{ render_error(form.tags) }}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ form.expire_days.label }}</label>
        <div class="col-sm-3">{{ form.expire_days(rows=1, cols=40, class="form-control", title="Expiration time in days to receive bids.") }}</div>
        {{ render_error(form.expire_days) }}
    </div>
<table class="table">
    
<thead>
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Fee</th>
        <th>Rating</th>
        <th>Contact</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for subfield in form.mediator_maddr %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Post!">
</form>
    </div>
</div>
</div>
{% endblock %}
