{% extends "layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<script src="js/rate.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $USER_ID = "{{ user_sin }}";
    $USER_JOBS = JSON.parse('{{ user_jobs|safe }}');
    $CURRENT_JOB = 0;
    $CURRENT_USER = 0;
</script>

<br>
<div class="well">
    <h3>Submit rating</h3>
    <form class="form-horizontal" role="form" method="POST" onsubmit="return confirm('This will be sync\'d immediately to available servers. Please confirm.');" action="{{ url_for('rate_web') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.job_id.label }}</label>
            <div class="col-sm-6 btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="lastJob()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default job_name" disabled="true">Job name</button>
                <button type="button" class="btn btn-default" onclick="nextJob()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6" role="group">
                {{ form.job_id(class="form-control", data_toggle="tooltip", title="Unique job identifier", readonly=true) }}</div>
            {{ render_error(form.job_id) }}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.user_id.label }}</label>
            <div class="col-sm-6 btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="lastUser()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default user_name" disabled="true">User name</button>
                <button type="button" class="btn btn-default" onclick="nextUser()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6" role="group">
                {{ form.user_id(class="form-control", data_toggle="tooltip", title="Unique user identifier: Secure Identity Number", readonly=true) }}</div>
            {{ render_error(form.user_id) }}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.rating.label }}</label>
            {{ form.rating(class="form-control") }}
            <div class="col-sm-6 ratingdiv">
            </div>
            {{ render_error(form.rating) }}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.comments.label }}</label>
            <div class="col-sm-6">{{ form.comments(class="form-control", data_toggle="tooltip", title="Add any comments you consider important") }}</div>
            {{ render_error(form.comments) }}
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="col-sm-offset-4 col-sm-6">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <input type="submit" value="Submit rating!">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.rated_by_id.label }}</label>
            <div class="col-sm-6">{{ form.rated_by_id(class="form-control", data_toggle="tooltip", title="Unique user identifier: Secure Identity Number", readonly=true) }}</div>
            {{ render_error(form.rated_by_id) }}
        </div>

    </form>
</div>

{% endblock %}
