{% extends "minimal-layout.html" %}
{% from "_form_helpers.html" import render_error %}
{% block body %}

<script src="js/rate.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<br>
<div class="well">
    <form class="form-horizontal" role="form" method="POST" onsubmit="return confirm('This will be sync\'d immediately to available servers. Please confirm.');" action="{{ url_for('rate') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.job_id.label }}</label>
            <div class="col-sm-6">{{ form.job_id(class="form-control", data_toggle="tooltip", title="Unique job identifier", readonly=true) }}</div>
            {{ render_error(form.job_id) }}
        </div>

        <div class="form-group">
            <div class="btn-group col-sm-offset-4 col-sm-6" role="group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default" disabled="true">Job name</button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.user_id.label }}</label>
            <div class="col-sm-6">{{ form.user_id(class="form-control", data_toggle="tooltip", title="Unique user identifier: either the user's master bitcoin address or Secure Identity Number", readonly=true) }}</div>
            {{ render_error(form.user_id) }}
        </div>

        <div class="form-group">
            <div class="btn-group col-sm-offset-4 col-sm-6" role="group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default" disabled="true">User name</button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.rating.label }}</label>
            <div class="col-sm-6">
            {% for subfield in form.rating %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                <br>
            {% endfor %}
            </div>
            {{ render_error(form.rating) }}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ form.comments.label }}</label>
            <div class="col-sm-6">{{ form.comments(class="form-control", data_toggle="tooltip", title="Add any comments you consider important") }}</div>
            {{ render_error(form.comments) }}
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="col-sm-offset-4 col-sm-6">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <input type="submit" value="Save">
            </div>
        </div>
    </form>
</div>

{% endblock %}