{% extends "minimal-layout.html" %}
{% block body %}

<script src="js/setup.js"></script>
<script src="js/jsbip39.js"></script>
<script src="js/sjcl-bip39.js"></script>
<script src="js/wordlist_english.js"></script>

<br>
<div class="well">
    <h4 id="ajax-header">Sign Up</h4>
    <div class="row">
        <div id="ajax-description" class="col-xs-12 col-sm-12" style="color: darkred">
        </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div id="ajax-errors" class="col-xs-12 col-sm-12" style="color: red;">
        </div>
    </div>
    <div id="ajax-elements">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name / handle</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" title="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact (email, BM)</label>
                        <div class="col-sm-6">
                            <input type="text" id="contact" title="Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Are you willing to mediate?</label>
                        <div class="col-sm-6">
                            <input type="radio" title="MedYes" value="True" name="mediator">Yes<br>
                            <input type="radio" title="MedNo" value="False" name="mediator">No<br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mediator fee (%)</label>
                        <div class="col-sm-6">
                            <input type="text" id="fee" title="MedFee">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6" id="ajax-button">
            <button onclick="if (storeUserData()) { getMnemonic(); }">Next</button>
        </div>
    </div>
</div>

{% endblock %}
