{% extends "minimal-layout.html" %}
{% block body %}

<script>
    function storeUserData() {
        // Check if name and contact are valid.
        var errors = '';
        var name = document.getElementById('name').value;
        var contact = document.getElementById('contact').value;
        if (name.length > 0 && contact.length > 0) {
            sessionStorage.name = name;
            sessionStorage.contact = contact;
        } else {
            errors += "Name or contact are invalid.\n\n";
        }
        // Choose the 'mediate' value.
        var radios = document.getElementsByName('mediator');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                var mediate = sessionStorage.mediate = radios[i].value;
                break;
            }
        }
        // Check mediator fee.
        var mediatorFee = document.getElementById('fee').value;
        if (mediate === "True") {
            if (isNaN(parseInt(mediatorFee))) {
                errors += "Invalid fee, should be number.\n\n";
            } else {
                sessionStorage.mediatorFee = mediatorFee;
            }
        } else {
            sessionStorage.mediatorFee = 0;
        }
        if (errors != '') {
            document.getElementById("errors").innerText = errors;
            return false;
        } else {
            return true;
        }
    }
/*    function getMnemonic() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://127.0.0.1:5001/generate-mnemonic", true);
        xhttp.send();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var mnemonic = JSON.parse(this.responseText);
                sessionStorage.mnemonic = mnemonic;
                document.getElementById('ajax-elements').innerText = mnemonic;
                document.getElementById('ajax-header').innerText = "Your private key";
                document.getElementById('ajax-description').innerText = "Put down on paper these 12 words. They are the key to accessing and recovering your Rein account."
            }
        };
    }*/
    function getMnemonicBeta() {
        var mnemonics = { "english": new Mnemonic("english") };
        var mnemonic = mnemonics["english"];
        var mnemonicText = mnemonic.generate();
        document.getElementById('ajax-header').innerText = "Generating access keys"
        document.getElementById('ajax-description').innerHTML = "<span style='font-size: 13pt'>Put down on paper these 12 words. They are the key to accessing and recovering your Rein account.</span><br>"
        document.getElementById('ajax-elements').innerHTML = "<br><p>" + mnemonicText + "</p>";
        document.getElementById('ajax-button').innerHTML = "<button onclick='renderConfirmMnemonic()'>Next</button>"
        sessionStorage.mnemonic = mnemonicText;
        sessionStorage.seed = mnemonic.toSeed(mnemonicText);
    }
    function renderConfirmMnemonic() {
        document.getElementById('ajax-description').innerText = '';
        document.getElementById('ajax-header').innerText = "Confirm that you wrote down the mnemonic";
        ajaxHtml = '<div class="row"><div class="col-xs-12 col-sm-12"><form class="form-horizontal">';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 1:</label><div class="col-sm-6"><input type="text" id="word1" title="Word 1"></div></div>';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 2:</label><div class="col-sm-6"><input type="text" id="word2" title="Word 2"></div></div>';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 3:</label><div class="col-sm-6"><input type="text" id="word3" title="Word 3"></div></div>';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 10:</label><div class="col-sm-6"><input type="text" id="word10" title="Word 10"></div></div>';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 11:</label><div class="col-sm-6"><input type="text" id="word11" title="Word 11"></div></div>';
        ajaxHtml += '<div class="form-group"><label class="col-sm-3 control-label">Word 12:</label><div class="col-sm-6"><input type="text" id="word12" title="Word 12"></div></div>';
        ajaxHtml += '</form></div></div>';
        document.getElementById('ajax-elements').innerHTML = ajaxHtml;
        document.getElementById('ajax-button').innerHTML = "<button onclick='confirmMnemonic()'>Next</button>"
    }
    function confirmMnemonic() {
        // TODO - Add a retry counter
        mnemonic = sessionStorage.mnemonic.split(' ');
        conditions = [document.getElementById('word1').value == mnemonic[0], document.getElementById('word2').value == mnemonic[1],
                      document.getElementById('word3').value == mnemonic[2], document.getElementById('word10').value == mnemonic[9],
                      document.getElementById('word11').value == mnemonic[10], document.getElementById('word12').value == mnemonic[11]]
        for (var i = 0; i < conditions.length; i++) {
            if (conditions[i] == false) {
                errors = "Some of the words you entered is incorrect. Try again.\n";
                document.getElementById('errors').innerText = errors;
                return
            }
        }

        urlEncodedDataPairs = ['name=' + sessionStorage.name, 'contact=' + sessionStorage.contact, 
        'mediate=' + sessionStorage.mediate, 'mediatorFee=' + sessionStorage.mediatorFee, 'seed=' + sessionStorage.seed];
        urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

        var xhttp = new XMLHttpRequest();
        xhttp.open('POST', 'http://127.0.0.1:5001/register-user', true);
        xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhttp.send(urlEncodedData);

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                if (response.enrolled) {
                    window.location.replace('http://127.0.0.1:5001/done');
                } else {
                    alert('Try restarting "rein start" or submit the form again.')
                }
            }
        };
    }
</script>
<script src="js/jsbip39.js"></script>
<script src="js/sjcl-bip39.js"></script>
<script src="js/wordlist_english.js"></script>

<br>
<div class="well">
    <h3 id="ajax-header">Enter your contact data</h3>
    <br>
    <div class="row">
        <div id="ajax-description" class="col-sm-12" style="color: darkred">
        </div>
    </div>
    <div class="row" style="color: red">
        <div class="col-sm-offset-1 col-sm-6" id="errors">
        </div>
    </div>
    <div id="ajax-elements">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="name" title="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact</label>
                        <div class="col-sm-6">
                            <input type="text" id="contact" title="Contact">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Are you willing to mediate?</label>
                        <div class="col-sm-6">
                            <input type="radio" title="MedYes" value="True" name="mediator">Yes<br>
                            <input type="radio" title="MedNo" value="False" name="mediator">No<br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mediator fee</label>
                        <div class="col-sm-6">
                            <input type="text" id="fee" title="MedFee">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-6" id="ajax-button">
        <button onclick="if (storeUserData()) { getMnemonicBeta(); }">Nextcock</button>
    </div>
</div>

{% endblock %}